<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7edcf1">  <td>21/06/22 21:45:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitCallback.testSetp()[pri:0, instance:test.SubmitCallback@54c562f7]">&gt;&gt;testSetp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="7edcf1">  <td>21/06/22 21:46:00</td>   <td>1475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubmitCallback.openBrowser()[pri:0, instance:test.SubmitCallback@54c562f7]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="7edcf1">  <td>21/06/22 21:46:03</td>   <td>4444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitCallback.submitCallbackForm()[pri:0, instance:test.SubmitCallback@54c562f7]">submitCallbackForm</td> 
  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="7edcf1">  <td>21/06/22 21:46:18</td>   <td>20127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SubmitCallback.terminateBrowser()[pri:0, instance:test.SubmitCallback@54c562f7]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td>  <td>main@479397964</td>   <td></td> </tr>
</table>
